// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// loader vars
$loader-bg-transparency: 0.7;
$loader-bg-color: black;

// menu
$menu-text-color: #fff;
$menu-bg-active: #565555;
